body {
    font-family: sans-serif;
    margin: 0;
}

.banner {
    min-height: 11rem;
    padding: 0 2rem;
    background-position: bottom;
    /*background-image: url('solar-panels.jpg');*/
    background-size: cover;
}

.main-content {
    max-width: 36rem;
    margin: auto;
    line-height: 1.5;
    /*padding: 0 2rem 6rem;*/


}
blockquote {
    padding: 0 32px;
}

h1 {
    position: relative;
    top: 7rem;
    margin: auto;
    max-width: 36rem;
}

h2 {
    margin-top: 2em;
    margin-bottom: 1em;
}

h3, h4, h5, h6 {
    margin-top: 2em;
    margin-bottom: 0;
}

h2 + h3 {
    margin-top: 1rem;
}

h3 + p {
    margin-top: 0.5;
}

ol {
    padding-left: 1em;
}

p {
    margin-top: 0.5em;
}

.flex-buttons {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flex-buttons > .flex-child {
    -webkit-box-flex: 0 0 40%;
    -moz-box-flex:  0 0 40%;
    -webkit-flex:  0 0 40%;
    -ms-flex:  0 0 40%;
    flex: 0 0 40%;
}

.get-involved > .button {
    padding: 15px 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.blue {
    background-color: #008CBA;
    color: white;
}

.gray {
    background-color: #e7e7e7;
    color: black;
}
